# Ignore everything in this directory
*
# Don't ignore the attribute lists
!icecube-f2k
!pone_triangle-f2k
!icecube-geo
!pone_triangle-geo
!orca-geo
!icecube_gen2-geo
# Except this file
!.gitignore