.*.sw*

*.lic

*.h5

*.pickle

*.sif

*.pyc

*.parquet

.ipynb_checkpoints

*geo-f2k

*.tmp

*.pdf

!photon_arrival_time_counts_params.pickle
!photon_arrival_time_nflow_params.pickle

venv3

*.json

LI

# Keep some config files
!pone_config.json

memories.npy

timings.npy