details[class*="source"] {
  padding-bottom: 1em;
}

/* -------------- */
/* Custom colour scheme */
.wy-nav-side {
    background: #343251 !important;
}

.wy-side-nav-search {
    background: #e7298a;
}

.wy-menu-vertical li.current {
    background: #d1ceff;
}

/* Links */
/* Normal links in text */
a {
    color: #1b9e77;
}

a:hover{
    color: #e7298a;
}

/* Site name link in the left menu panel */
a.icon.icon-home:hover {
    /* color: #343251 */
    color: #47ffc8; 
}

/* Headings in nav */
.caption-text {
    color: #47ffc8; 
    /* color: #ffa1d2; */
}

/* Links in the TOC-menu */
a.reference.internal:hover {
    background: #25243b;
}

a.reference.internal.current {
    background: #e7e5fc;
}

/* -------------- */
/* Copy to clipboard in code blocks support */
.btn-clipboard {
    position: relative;
    top: .5rem;
    right: 1rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    border: none;
    box-shadow: none;
}

.clipboard {
    position: relative;
    display: block;
    float: right;
    right: 18px;
    line-height: 0px;
    width: 0px;
}

.clipboard:hover {
  color: var(--md-accent-fg-color);
  transition: color 125ms;
}
/* -------------- */
